name: preferences_workspace

publish_to: none

environment:
  sdk: ^3.9.0

workspace:
  - examples/app_example
  - examples/console_example
  - packages/preferences_annotation
  - packages/preferences_generator

dev_dependencies:
  melos: ^7.3.0
  very_good_analysis: ^9.0.0

melos:
  scripts:
    generate:
      run: dart run build_runner build --delete-conflicting-outputs
      exec:
        concurrency: 4
      packageFilters:
        scope:
          - app_example
          - console_example
    test:
      run: dart test
    analyze:
      run: dart analyze